{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'profesores/js/list.js' %}"></script>
    <link type= "text/css" href="{% static 'css/list/list.css' %}" rel="stylesheet">

{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">DNI</th>
        <th scope="col" style="width: 20%;">Nombre Completo</th>
        <th scope="col" style="width: 10%;">Fecha de Nacimiento</th>
        <th scope="col" style="width: 10%;">Idioma</th>
        <th scope="col" style="width: 10%;">Número de Celular</th>
        <th scope="col" style="width: 20%;">Correo Electrónico</th>
        <th scope="col" style="width: 10%;">Sueldo Mensual</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
